{% load static %}
<!doctype html>

<head>
  <title>IU Ticketsystem</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
  <link rel="icon" href="{% static 'favicon_iu_logo.ico' %}">
</head>
<html>

<head>
  <style>
    #top-bar {
      background-color: #000;
      color: #ffffff;
      padding: 8px;
      text-align: center;
    }
  </style>
</head>

<body>
  <main>
    <div id="top-bar">
      Ich mag Fundogs.
    </div>

    <!--Logo und so weiter-->
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{% static 'images/iu_logo.jpg' %}" alt="IU Logo" width="mx-auto"
        height="150px" />
      <h1 class="display-6 fw-bold text-primary">Willkommen im IU Ticketsystem</h1>
    </div>

    <!--<form method="post" action="hello">
      {% csrf_token %}-->

    <form method="post" action="hello">

      <div class="mx-auto text-center">
        <label for="name" class="form-label fw-bold fs-5">Name</label>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
        </div>

        <div class="mx-auto text-center">
          <label for="email" class="form-label fw-bold fs-5">E-Mail Adresse</label>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
            <input type="text" class="form-control" id="email" name="email" style="max-width: 256px;">
          </div>

          <div class="mx-auto text-center">
            <label for="course" class="form-label fw-bold fs-5">Kurs</label>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <input type="text" class="form-control" id="course" name="course" style="max-width: 256px;">
            </div>

            <!-- Pickliste-->
            <div class="mx-auto text-center">
              <label for="documenttype" class=" fw-bold fs-5">Dokumentenart</label>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                <select name="documenttype" id="documenttype" class="form-control text-center" style="max-width: 256px;">
                  <option hidden>  </option>
                  <option value="Fragen">Fragen</option>
                  <option value="Literaturangaben">Literaturangaben</option>
                  <option value="Lösungsheft">Lösungsheft</option>
                  <option value="Skript">Skript</option>
                  <option value="Tutorium">Tutorium</option>
                  <option value="Vodcast">Vodcast</option>
                  <option value="Sonstiges">Sonstiges</option>
                </select>
              </div>

              <div class="mx-auto text-center">
                <label for="title" class="form-label fw-bold fs-5">Dokumententitel</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <input type="text" class="form-control" id="title" name="title" style="max-width: 256px;">
                </div>

                <!-- Pickliste-->
                <div class="mx-auto text-center">
                  <label for="tickettype" class="form-label fw-bold fs-5">Meldungsart</label>
                  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <select name="tickettype" id="tickettype" class="form-control text-center" style="max-width: 256px;">
                      <option hidden>  </option>
                      <option value="Ergänzung">Ergänzung</option>
                      <option value="Fehler">Fehler</option>
                      <option value="Verbesserungsvorschlag">Verbesserungsvorschlag</option>
                    </select>
                  </div>

                  <!-- Bezeichnung angepasst-->
                  <div class="mx-auto text-center">
                    <label for="description" class="form-label fw-bold fs-5">Beschreibung</label>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                      <input type="text" class="form-control" id="description" name="description"
                        style="max-width: 256px;">
                    </div>


                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                      <button type="submit" class="btn btn-primary btn-lg px-8 gap-3">Ticket senden</button>
                    </div>
                  </div>
    </form>
  </main>
</body>

</html>