<!doctype html>
<head>
  <title>IU Ticketsystem</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>


<body>
  <header>
      <img type="Logo" src="images\IU-logo.svg">
  </header>

  <nav></nav>

  <main>
    <div class="container">
      <h1>NEUE MELDUNG ERSTELLEN</h1>
      
      <div class="containerklein">

        <form method="post" action="hello" id="form">

          <div type="Meldung">
            <label type="description" for="course">Kurs</label>
            <select id="dynamicDropdownCourse" class="js-example-basic-single" type="ticket" name="course" required>
              <option value=""></option>
            </select>  
          </div> 

          <div type="Meldung">
            <label type="description" for="documenttype">Dokumentenart</label>
              <div class="select">
                <select type="ticket" name="documenttype" id="documenttype" required>
                  <option hidden> </option>
                  <option value="Fragen">Fragen</option>
                  <option value="Literaturangaben">Literaturangaben</option>
                  <option value="Lösungsheft">Lösungsheft</option>
                  <option value="skript">Skript</option>
                  <option value="Tutorium">Tutorium</option>
                  <option value="video">Vodcast</option>
                  <option value="Sonstiges">Sonstiges</option>
                </select>
              </div>
            </div>  

            <div type="Meldung">
              <label type="description" for="title">Dokumententitel</label>
              <select id="selectedDocument" class="js-example-basic-single" type="ticket" name="title" required>
                <option value=" "></option>
              </select>
             </div>

            <div type="Meldung">
            <label type="description" for="tickettype">Meldungsart</label>
              <div class="select">
                <select type="ticket"  name="tickettype" id="tickettype" required>
                  <option hidden> </option>
                  <option value="Ergänzung">Ergänzung</option>
                  <option value="Fehler">Fehler</option>
                  <option value="Verbesserungsvorschlag">Verbesserungsvorschlag</option>
                </select>
              </div>
            </div>  

            <div type="Meldung">
              <label type="description" for="description">Beschreibung</label>
              <textarea name="description" id="description" required cols="50" rows="4"></textarea>
            </div>  

            <div type="Meldung"></div>
              <label for="attachment"> </label>
              <input type="file" id="attachment" name="attachment" accept="image/png, image/jpeg, .pdf">
            </div>  
            <label class="error" hidden="true" id="error">Error goes here!</label>
            <label class="success" hidden="true" id="success">Success goes here!</label>
          </form>
          <table type="username"> 
            <tr>  
              <td><a type="buttonsend" form="form" value="Submit" id="submit">Absenden</a> </td>
              <td><a type="buttonclose" onclick="window.close();">Abbrechen</a></td> 
            </tr>
          </table> 
          
        </div>
      </div>
    </main>
    <script src="js/CreateTicket.js"></script>

  <footer></footer>

</body>


</html>