{% load static %}
<!doctype html>

<head>
  <title>IU Ticketsystem</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="icon" href="{% static 'favicon_iu_logo.ico' %}">
</head>
<html>

<head>
  <style>
    #top-bar {
      background-color: #000;
      color: #ffffff;
      padding: 8px;
      text-align: center;
    }
  </style>
</head>

<body>
  <main>
    <div id="top-bar">
      Ich mag Fundogs.
    </div>
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{% static 'images/iu_logo.jpg' %}" alt="IU Logo" width="mx-auto"
        height="150px" />
      <h1 class="display-6 fw-bold">Vielen Dank {{name}}!</h1>
      <p class="fs-5">
        Deine Meldung wurde erfasst.
      </p>
      <a href="{% url 'index' %}" class="btn btn-primary btn-lg px-4 gap-3">Startseite</a>
    </div>
  </main>
</body>

</html>