{% load static %}
<!doctype html>

<head>
  <title>IU Ticketsystem</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="icon" href="{% static 'favicon_iu_logo.ico' %}">
</head>
<html>

<head>
  <style>
    #top-bar {
      background-color: #000;
      color: #ffffff;
      padding: 8px;
      text-align: center;
    }
  </style>
</head>

<body>
  <main>
    <div id="top-bar">
      Ich mag Fundogs.
    </div>

    <!--Logo und so weiter-->
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{% static 'images/iu_logo.jpg' %}" alt="IU Logo" width="mx-auto"
        height="150px" />
      <h1 class="display-6 fw-bold text-primary">Willkommen im IU Ticketsystem</h1>
    </div>

    <!--<form method="post" action="hello">
      {% csrf_token %}-->

    <form method="post" action="hello">

      <div class="col-md-6 mx-auto text-center">
        <label for="course" class="form-label fw-bold fs-5">Kurs</label>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <input type="text" class="form-control" id="course" name="course" style="max-width: 256px;">
        </div>

        <div class="col-md-6 mx-auto text-center">
          <label for="course" class="form-label fw-bold fs-5">Kurs</label>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
            <input type="text" class="form-control" id="course" name="course" style="max-width: 256px;">
          </div>

          <div class="col-md-6 mx-auto text-center">
            <label for="course" class="form-label fw-bold fs-5">Kurs</label>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
              <input type="text" class="form-control" id="course" name="course" style="max-width: 256px;">
            </div>




            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
              <button type="submit" class="btn btn-primary btn-lg px-8 gap-3">Ticket senden</button>
            </div>
          </div>
    </form>
  </main>
</body>

</html>