<!DOCTYPE html>   
<html id="top">   
  <head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    
    <title> Melde dich im Ticketsystem an </title>  
    
    <link href="static\style.css" rel="stylesheet">
  
  </head>  


  <body>    
    <div class="containerlogin">
    <center> <img src="static\IU.jpg" width="120px"/> </center> 
    <center> <h1> WILLKOMMEN </h1> </center> 
    <center> <h2> Melde Dich bei der IU - Internationale Hochschule an um fortzufahren. </h2> </center>   
      <form>  
        <div class="containerklein">   
          <div type="Meldung">  
            <label type="description">Benutzername </label>   
            <input type="text" placeholder="Benutzername eingeben" name="username" required>  
          </div>   
          <div type="Meldung">
            <label type="description">Passwort </label>   
            <input type="password" placeholder="Passwort eingeben" name="password" required> 
          </div> 
            <table type="username"> 
              <tr>  
                <td><input type="checkbox"> Benutzername merken </td>
                <td type="right"><a href="#"> Passwort vergessen? </a> </td> 
              </tr>
            </table> 		   
            <a type="buttonfull">Login</a>   
        </div>   
      </form>  
    </div>   
  </body>     
</html>  