<!DOCTYPE html>
<html>
<head>
    <title>Tickets Correction Management</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.5/sorting/column-filter.js"></script>
    <script src="js/tablefilter.js"></script>
</head>
<body>
    <header>
        <img type="Logo" src="images/IU-logo.svg">
        <nav></nav>
    </header>
    <main>
        <div class="container">
            <h1>MELDUNGEN</h1>
            <div class="containerklein">
                <a type="button" href="http://127.0.0.1:3000/hello_azure/templates/hello_azure/createticket.html" onclick="window.open(this.href, 'Neue Meldung', 'width=800,height=750'); return false">Neue Meldung</a>
                <table class="display" id="meldungenTable" data-tablesorter="true">
                    <thead>
                        <tr>
                            <th data-filter="text">Nr.</th>
                            <th data-filter="text">Dokumententitel</th>
                            <th data-filter="text">Dokumentenart</th>
                            <th data-filter="text">Kurs</th>
                            <th data-filter="text">Meldungsart</th>
                            <th data-filter="text">Status</th>
                            <th data-filter="text">Stand</th>
                        </tr>
                    </thead>
                    <tfoot> <!-- Fußzeilen für Filtereingabefelder -->
                        <tr>
                            <th>Nr.</th>
                            <th>Dokumententitel</th>
                            <th>Dokumentenart</th>
                            <th>Kurs</th>
                            <th>Meldungsart</th>
                            <th>Status</th>
                            <th>Stand</th>
                        </tr>
                    </tfoot>
                    <tbody id="tableBody"> 
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
