<!doctype html>
<head>
    <title>Tickets Correction Management</title>
    <link rel="stylesheet" href="static\style.css">
    <link rel="icon"href="static\favicon.ico">
</head>
<html>
   <body>
    <header>
      <nav>
        <img type="Logo" src="static\IU-logo.svg">
      </nav>
    </header>
      <div class="container">
        <main>
            <h1>
              MELDUNGEN
            </h1>
            <div class="containerklein">
              
              <form>
                <a type="button" href="http://127.0.0.1:3000/hello_azure/templates/hello_azure/createticket.html" onclick="window.open(this.href, 'Neue Meldung', 'width=800,height=750'); return false">Neue Meldung</a>
              </form>
              
              <table type="Meldungen">
                <tr>
                  <th>Dokumententitel</th>
                  <th>Dokumentenart</th> 
                  <th>Kurs</th>
                  <th>Meldungsart</th>
                  <th>Status</th> 
                  <th>Stand</th>
                </tr>
                <tr>
                  <td>Skript</td>
                  <td>Skript</td>
                  <td>Theoretische Informatik</td>
                  <td>Fehler</td>
                  <td>Geschlossen</td>
                  <td>05.01.2023</td>
                </tr>
                <tr>
                  <td>Skript</td>
                  <td>Skript</td>
                  <td>Theoretische Informatik</td>
                  <td>Fehler</td>
                  <td>Geschlossen</td>
                  <td>05.01.2023</td>
                </tr>
                <tr>
                  <td>Skript</td>
                  <td>Skript</td>
                  <td>Theoretische Informatik</td>
                  <td>Fehler</td>
                  <td>Geschlossen</td>
                  <td>05.01.2023</td>
                </tr>
                <tr>
                  <td>Skript</td>
                  <td>Skript</td>
                  <td>Theoretische Informatik</td>
                  <td>Fehler</td>
                  <td>Geschlossen</td>
                  <td>05.01.2023</td>
                </tr>
                <tr>
                  <td>Skript</td>
                  <td>Skript</td>
                  <td>Theoretische Informatik</td>
                  <td>Fehler</td>
                  <td>Geschlossen</td>
                  <td>05.01.2023</td>
                </tr>
              </table>
            </div>
        </main> 
      </div> 
    <footer>

    </footer>      
   </body>
</html>