body {
    background-color: lightgray;
}

th {
    text-align: left;
    border-bottom: 3px solid !important;
    padding-bottom: 1%;
    border-collapse: collapse;
}

tr {
    padding-top: 10%;
    border-collapse: collapse;
}

tr:hover {
    background-color: lightblue;
}

.header {
    background-color: white;
    margin: 0.5%;
    padding: 1%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
}

.table {
    background-color: white;
    margin: 0.5%;
    padding: 1%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border: 3px solid;
    width: 99%
}

.button {
    background-color: white;
    margin: 0.5%;
    padding: 0.5%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
}

